@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
    cursor: none;
    font-weight: 600;
}

.container {
    width: 100%;
    height: 100%;
    /* CSS Smooth Scroll */
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.content {
    margin: 0 2em;
}

.text {
    font-size: 1.9rem;
    font-family: Source Code Pro;
    width: 90%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

section {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    /* Scroll Snap */
    scroll-snap-align: center;

    justify-content: center;
}

section h1 {
    font-size: 3rem;
    font-weight: 800;
}

section h2 {
    font-size: 2.3rem;
    font-weight: 700;
}

/* Section Images */
section#about {
}

section#projects {
}

section#links {
}

a {
    text-decoration: none;
    color: #fff;
    position: relative;
    cursor: none;
}

.text_links {
    color: palegreen;
}

.text_links:hover {
    color: rgb(130, 193, 161);
}

.text_links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}
  
.text_links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }   
}

.highlight {
    text-align: center;
    font-family: Source Code Pro;
}

.highlight span {
    padding: 5px;
    border-radius: 5px;
    margin: 0.8em;
    font-size: 1.3rem;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
    background-color: rgba(91, 35, 234, 0.5);
}

.horizontal {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.page {
    height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    scroll-snap-align: start;
}

b {
    font-weight: 800;
}

img {
    max-width: 50px;
    border-radius: 6px;
}

i:hover {
    color: skyblue;
}
