.cursor {
    pointer-events: none;
    font-family: monospace;
    z-index: 100;
}
.cursor__ball {
    position: fixed;
    mix-blend-mode: difference;
    z-index: 100;
}
.cursor__ball circle {
    fill: #f7f8fa;
    z-index: 100;
}

.cursor {
    display: none;
}
@media (pointer: fine) {
    .cursor {
        display: inline;
    }
}
